<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{baseTemplate :: content}">
  <div th:fragment="body-content">
    <p th:text="#{email.cancel.appointment.greeting(${receiverName})}">Hello {receiverName},</p>
    <p th:text="#{email.cancel.appointment.body(${senderName},${appointmentDateAndTime})}">
      Your appointment with {senderName} on {appointmentDateAndTime} has been canceled.
    </p>
    <p>
      <span th:text="#{email.advisor.post-appointment-report-reminder.support5}"> Thanks, </span>
      <br />
      <span th:text="#{email.advisor.post-appointment-report-reminder.support7}"> The HUUB team </span>
    </p>
  </div>
</html>
