<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{baseTemplate :: content}">
<div th:fragment="body-content">
  <strong th:text="#{email.update.appointment.greeting(${receiverName})}">Hello {receiverName},</strong>
  <p th:text="#{email.update.appointment.body(${senderName})}">
    The details for your appointment with {0} have changed.
  </p>
  <p th:text="#{email.update.appointment.body1(${appointmentDateAndTime})}">
    Your appointment is now scheduled for {0}.
  </p>
  <p>
      <span th:text="#{email.update.appointment.body2}">
        As a reminder, you'll be meeting with each other virtually using this link:
      </span>
    <a th:with="url=(@{|${advisorMeetingLink}|})" th:href="${url}" text="Meeting Link" class="link-custom"> Meeting Link </a>
  </p>
  <p>
      <span th:text="#{email.update.appointment.body3(${appointmentDateAndTime})}">
        Your appointment is scheduled for {appointmentDateAndTime}.
      </span>
      <a th:with="url=(@{|${baseUrl}${appointmentDetailUrl}|})"
         th:href="${url}"
          th:text="#{email.advisor.schedule.appointment.viewDetails}"
          class="link-custom"
      >
        View the appointment details here.
      </a>
  </p>
  <p>
    <strong th:text="#{email.reschedule.businessOwner.appointment.importantStep}">
      IMPORTANT STEP:
    </strong>
    <span th:text="#{email.update.appointment.bo.body1(${advisorName}, ${advisorEmail})}">
    Make sure to add this appointment to your calendar now. Please send any additional files or information before meeting with {Advisor Full Name} to maximize your time via email ( {Advisor email}).
  </span>
  </p>
  <p>
    <strong>
      <span th:text="#{email.update.appointment.bo.body2}"> Need to Cancel or Reschedule? </span>
    </strong>
    <span th:text="#{email.update.appointment.bo.body4(${portalName})}">
        Manage your appointments via your dashboard in the {Portal Name}.
      </span>
  </p>
  <p>
    <strong>
      <span th:text="#{email.schedule.appointment.cancellationPolicy}" class="red-color"> Cancelation Policy: </span>
    </strong>
    <span th:text="#{email.update.appointment.bo.body3}">
        All bookings are confirmed immediately, and any cancelations must be made at least 24 hours before the session date. The hour will be forfeited if a cancelation notice is not received within 24 hours of the session. Rescheduling appointments must occur at least 2 hours before the scheduled session date and time. Please
    </span>
    <a th:with="url=(@{|${supportLiveChat}|})" th:href="${url}" th:text="#{email.schedule.appointment.support}" class="link-custom">
      chat with our team
    </a>
    <span th:text="#{email.update.appointment.body7}">
      now if you need scheduling assistance.
    </span>
  </p>
  <p class="mb-0" th:text="#{email.footer.thanks}">Thanks,</p>
  <p class="mt-0"><strong th:text="#{email.footer.signature}">The HUUB Team</strong></p>
</div>
</html>
